@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
	--clr-primary: #353535;
	--clr-secondary: #ffcc29;
	--white: #fff;
	--background-gradient: linear-gradient(145deg, #4f4f4f 0%, #282828 100%);
	--primary-text: #fff;
	--primary-text2: #606060;
	--secondary-text: #1a1b1e;
	--font-family: "Montserrat";
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

a {
	text-decoration: none;
}

/* ------ tileContainer style ------ */

.tile_container {
	display: flex;
	flex-direction: column;
	margin: 2.25rem 20px;
	padding: 125px 0px 90px 0px;
	background: var(--background-gradient);
	width: calc(100vw - 40px);
	color: var(--primary-text);
	border-radius: 15px;
	align-items: center;
	overflow: hidden;
}

.upper_section {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	height: 150px;
	width: 78%;
}

.sub-heading {
	font-family: var(--font-family);
	font-weight: bold;
	margin: 0px 0px 1rem;
	color: var(--clr-secondary);
	font-size: 14px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	word-wrap: break-word;
}
.sub-heading li::marker {
	font-size: 22px;
}
.sub-heading span {
	margin-left: -10px;
}
.main-heading {
	font-family: var(--font-family);
	font-size: 36px;
	line-height: 1.2;
	text-align: left;
	font-weight: 500;
	margin-bottom: 0px;
	color: var(--primary-text);
	word-wrap: break-word;
}

.container_nav {
	height: 52px;
}

.button {
	margin: 30px 5px 30px;
	position: relative;
	font-family: var(--font-family);
	padding: 5px 5px 5px 28px;
	background: var(--clr-secondary);
	height: 50px;
	width: 180px;
	text-align: left;
	vertical-align: middle;
	box-shadow: 0px 0px 10px 1px #414141;
	border-radius: 25px;
	overflow: hidden;
}
.button .span {
	position: absolute;
	top: 0;
	left: -120%;
	width: 25%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.7);
	transition: all 0.8s ease-in-out;
	transition-delay: 0.1s;
}

.button:hover .span {
	left: 110%;
}
.button a {
	display: flex;
	color: var(--secondary-text);
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	justify-content: space-between;
}
.button:hover a span {
	text-decoration-line: underline;
	text-decoration: var(--white) underline;
	color: var(--white);
	transition: all 0.5s;
}
.button a i {
	display: flex;
	height: 40px;
	width: 40px;
	background: var(--white);
	border-radius: 50%;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.lower_section {
	margin: 0 auto;
	height: 235px;
	width: calc(100vw - 100px);
	overflow-x: scroll;
}

.lower_section::-webkit-scrollbar {
	visibility: hidden;
}

.lower_section .container_tiles {
	margin: 0 auto;
	display: flex;
	width: 1230px;
	height: 170px;
}

/*------ tileContainer style ends ------- */

/* Tile style */
.tile {
	/* padding: 0 0.8rem; */
	padding: 2rem 1rem;
	height: 170px;
	width: 200px;
	text-align: center;
	transition: all 0.3s linear;
}
.tile_content {
	position: relative;
	padding: 30px 15px;
	height: 170px;
	width: 170px;
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 200;
	line-height: 30px;
	letter-spacing: -0.9px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 15px;
	cursor: pointer;
	z-index: 1;
}
.tile_content:hover {
	background: var(--white);
	color: var(--secondary-text);
	text-decoration: 2px solid var(--clr-secondary) underline;
	transition: all 0.5s;
}
.tile_content:hover i {
	color: var(--secondary-text);
	transition: all 0.5s;
}

.cloud {
	background: var(--white);
	color: var(--secondary-text);
}

.cloud i {
	color: var(--secondary-text) !important;
}

.cloud::after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -20px;
	background: var(--primary-text);
	opacity: 1;
	transform: rotate(-45deg);
	border-radius: 4px;
	z-index: -1;
	transition: all 1s;
	transition-delay: 0.5s;
	user-select: none;
}

.tile_content i {
	color: var(--clr-secondary);
	font-size: 2rem;
	margin: 0px 0px 1rem;
}
/* Tile style ends*/

/* TileInfoContainer style  */

.tile_info_container {
	display: flex;
	flex-wrap: wrap;
	margin: 85px auto;
	padding: 15px;
	width: 1140px;
}

.tile_img {
	padding: 15px 15px 15px 15px;
	display: flex;
	width: 570px;
	justify-content: center;
	align-items: center;
}

.tile_img_container {
	width: 535px;
}
.tile_img_container img {
	width: 535px;
}

.tile_info {
	font-family: var(--font-family);
	padding: 0px 80px 0px 0px;
	width: 570px;
	color: var(--secondary-text);
}

.info_head {
	margin: 0px 0px 25px 0px;
	font-size: 36px;
	font-weight: bold;
	line-height: 1;
}

.info_para {
	margin: 0 0 20px;
	padding: 0 0 30px 0px;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: var(--primary-text2);
	width: 470px;
}

@media (max-width: 700px) {
	.upper_section {
		justify-content: center;
	}
	.upper_section {
		height: 230px;
	}
	.lower_section {
		margin: 0px auto;
	}
}

@media (max-width: 499px) {
	.tile {
		width: calc(100vw - 140px);
	}
	.tile_content {
		width: calc(100vw - 160px);
	}
	.tile_info_container {
		max-width: 400px;
	}
	.tile_img,
	.tile_info {
		width: 380px;
		padding: 10px;
	}
	.tile_img_container {
		width: 350px;
	}
	.tile_img_container img {
		width: 350px;
	}
	.info_para {
		width: 350px;
	}
	.cloud::after {
		content: "";
		height: 0;
		width: 0;
	}
	.upper_section {
		height: 210px;
	}
	.lower_section {
		margin: 40px auto;
	}
}

@media (min-width: 500px) {
	.tile_info_container {
		max-width: 500px;
	}
	.tile_img,
	.tile_info {
		width: 480px;
		padding: 10px;
	}
	.tile_img_container {
		width: 450px;
	}
	.tile_img_container img {
		width: 450px;
	}
	.info_para {
		width: 450px;
	}
	.button {
		margin: 0 0;
	}
	.upper_section {
		height: 210px;
	}
	.lower_section {
		margin: 0px auto;
	}
}
@media (min-width: 768px) {
	.tile_info_container {
		max-width: 750px;
	}
	.tile_img,
	.tile_info {
		width: 720px;
		padding: 10px;
	}
	.tile_img_container {
		width: 700px;
	}
	.tile_img_container img {
		width: 700px;
	}
	.info_para {
		width: 700px;
	}

	.upper_section {
		height: 200px;
	}
	.button {
		margin: 30px 0;
	}
}
@media (min-width: 930px) {
	.tile_info_container {
		max-width: 900px;
	}
	.tile_img,
	.tile_info {
		width: 430px;
		padding: 10px;
	}
	.tile_img_container {
		width: 400px;
	}
	.tile_img_container img {
		width: 400px;
	}
	.info_para {
		width: 370px;
	}
	.upper_section {
		height: 120px;
	}
	.lower_section {
		margin: 0px 0px 50px 0px;
	}
}
@media (min-width: 1230px) {
	.tile_info_container {
		max-width: 1200px;
	}
	.tile_img,
	.tile_info {
		width: 550px;
		padding: 10px;
	}
	.tile_img_container {
		width: 500px;
	}
	.tile_img_container img {
		width: 500px;
	}
	.info_para {
		width: 470px;
	}
}

/* TileInfoContainer style ends */
